@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&family=Staatliches&family=Teko:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&display=swap');

body {
    color:black;
    font-size:1.3em;
    font-family:Arial, Helvetica, sans-serif;
    text-align:left;
    margin-left:11px;
    margin-right:11px;
  
}




/* links */
a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:#FF00FF;
}

a:active{
    color:#FF00FF;
}




/* headings */
h1 {
    color:black;
    font-family:'Saira', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:2em;
    background-color:#F5F5F5;
    text-align:left; 
}

h2 {
    color:black;
    font-family: 'Saira', sans-serif, Arial;
    font-size:1.7em;
    margin-top:0.5px;
    margin-bottom:0.5px;
}

h3 {
    color:black;
    font-family:'Saira', sans-serif, Arial, Helvetica, sans-serif;
    font-size:1.3em;
    font-weight:strong;
    margin-bottom:0.5px;
    margin-top:0.5px;
}

h4 {
    color:black;
}

h5 {
    color:black;
    font-family:'Saira', sans-serif, Arial;
    font-size:large;
}





/* group selector */
h1, h2, h4, h5 {
    font-weight:lighter;
}





/* descendant selector */

/* paragraph attributes */
p strong {
    color:indigo;
}

p {
    margin-top:0.5px;
    margin-bottom:0.5px;
}

p.intro {
    font-style:italic;
    font-weight:strong;
}




/* li attributes */
ul li {
    margin-inline:1.2em;
}

li {
    font-family:'Saira', sans-serif, Arial;
    font-weight:strong;
    display:flex;
    flex-direction:row;
    margin-top:0px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
}




/* margins, etc */
h3 {
    clear:right;
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left:1em;
    margin-right:1em;
}








/* image layout */
img {
    float:right;
    margin:.5em .5em .5em .5em;
}




/* object identifiers */
h5#email {
    text-align:center;  
}

img#image2 {
    float:left; 
}

img#name {
    position:fixed;
    right:9px;
    top:10px;
    opacity: 0.7;
}

p#p_li {
    margin-bottom:1px;
    padding-bottom:2px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
}

p#p_li2 {
    margin-bottom:1px;
    padding-bottom:2px;
    margin-bottom:1px;
    padding-bottom:2px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
}
p#p_li3 {
    margin-bottom:1px;
    padding-bottom:2px;
    margin-bottom:1px;
    padding-bottom:2px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
}




/* flexbox */
div.obj {
    display:flex;
    flex-direction:row;
    border:lavender solid 1px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
}

div.ht {
    display:flex;
    flex-direction:column;
    border:lavender solid 1px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
    margin-bottom:em;
}


div.ht2 {
    display:flex;
    flex-direction:column;
    border:lavender solid 1px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
    margin-bottom:0.5em;
}

div.sexyhair {
    display:flex;
    flex-direction:column;
    border:lavender solid 1px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
    margin-bottom:0.5em;
}

div.vol40 {
    display:flex;
    flex-direction:column;
    border:lavender solid 1px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
    margin-bottom:0.5em;
}


div.tranquility {
    display:flex;
    flex-direction:column;
    border:lavender solid 1px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
}


div.edu {
    display:flex;
    flex-direction:column;
    border:lavender solid 1px;
    text-align:justify;
    padding-right:1%;
    padding-left:1%;
    background-color:#F5F5F5;
}

            /* thesis titles */ 
div.thesistitle {
    display:flex;
    flex-direction:row;
    text-align:left;
    font-size:.9em;
    font-family:'Staatliches', Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

div.writingsamples {
    display:flex;
    align-content: left;
}




                /* nav bar */ 
  div.navbar {
    display:flex;
    flex-direction:row;
    border: 1px lavender;
    height:100px;
    
    margin-top:5%;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
    align-items:flex-start;
    line-height:1em;
   
    
  }
  
  
  div.nav {
  background-color:eggshell;
    margin-bottom:10px;
    font-size:1.3em;
    font-family:'Saira', sans-serif, Arial, Helvetica, sans-serif;
    color:#FF00FF;
    height:10%;
    
  }