body {
    color:back;
    background-color:aliceblue;
    font-family:Arial, Helvetica, sans-serif;
    text-align:justify;
}



/* headings */
h1 {
    color:blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
}

h2 {
    color:indigo;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
}

h3 {
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:strong;
}

h4 {
    color:black;
    
}

h5 {
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size:large;
}



/* group selector */
h1, h2, h4, h5 {

    font-weight:lighter;
}



/* descendant selector */
p strong {
    color:indigo;
}

p.intro {
    font-style:italic;

}




/* links */
a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:#FF00FF;
}

a:active{
    color:#FF00FF;
}


/* margins */
h3 {
    clear:right;
    margin-top:1em;
    margin-bottom:1em;
    margin-left:1em;
    margin-right:1em;
}


ul {
    margin-inline:1.2em;
}


/* image layout */
img {
    float:right;
    margin:.5em;
}


/* object identifiers */
h5#email {

    text-align:left;
}


img#image2 {
    float:left;
    margin:.5em .5em .5em .5em;
}


