body {
    color:back;
    background-color:aliceblue;
    font-family:sans-serif,Arial,Helvetica;
    text-align:justify;
}


h1 {
    color:blueviolet;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
}

h2 {
    color:indigo;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
}

h3 {
    color:black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
}

h4 {
    color:black;
}

h5 {
    color:black;
    text-align:left;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight:lighter;
    font-size:large;
}



a:link{
    color:black;
}

a:visited{
    color:black;
}

a:hover{
    color:#FF00FF;
}

a:active{
    color:#FF00FF;
}



img {
    float:right;
    margin:1em 1em 1em 1em;
}

h3 {
    clear:right;
    margin:1em 1em 1em 1em;
}
